streamlit
openai
anthropic
chromadb==0.5.5
pysqlite3-binary
PyPDF2
protobuf==3.20

# LangChain (modular ecosystem)
langchain==0.3.7
langchain-core==0.3.17
langchain-community==0.3.3
langchain-openai==0.2.5

PyMuPDF==1.23.5
beautifulsoup4==4.12.3
requests==2.32.3
pandas==2.2.2
pysqlite3-binary==0.5.3
blinker==1.8.2
cachetools==5.5.0
click==8.1.7
certifi==2025.8.3
